/*
fialová: #3E1730
šedá: #D3D3D3

shadow: 2px 2px 7px #000
*/


/****************** Záhlaví *****************/

.header {
    margin-bottom: 3rem;
    background-color: #3E1730;
    box-shadow: 0px 2px 7px #000;
}

.logo {
    float: left;
    padding: .7rem;
    font-family: Audiowide;
    font-size: 2rem;

}
.logo a {
    color: #fff;
    text-decoration: none;
}

.ul-menu {
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    justify-content: space-between;
}

.ul-menu li {
    position: relative;
}
.ul-menu li a {
    display: block;
    padding: 1.5rem 2rem;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 2px 2px 7px #000;
}
.ul-menu li a.active, .ul-menu li a:hover, .ul-menu li a:focus, .ul-menu li a:active {
    background-color: #a7a7a78c;
}
.ul-menu li a.active {
    font-weight: bold;
}
.ul-menu li ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.ul-menu li:hover ul, .ul-menu li:focus ul, .ul-menu li:active ul {
    display: block;
    position: absolute;
    background: #3E1730;
}


/*************** Obsah **************/

.intro {
    padding-bottom: 3rem;
}

.imgLeft {
    width: 25%;
    margin-right: 5%;
    float: left;
}
.textRight {
    width: 70%;
    float: right;
}
.textRight > p:first-child {
    margin-top: 0;
}



/********* Services **********/

.services ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}
.services ul li {
    position: relative;
    padding-bottom: 15%;
    width: 30%;
    height: 0;
}
.services ul li a {
    position: absolute;
    display: flex;
    color: #3E1730;
    padding: 10%;
    width: 80%;
    height: 60%;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #3E1730;
    border-radius: 10px;    
    box-shadow: 2px 2px 7px #000;
    transition: 200ms;
}
.services ul li a:hover, .services ul li a:focus, .services ul li a:active {
    color: #291120;
    border-color: #291120;
    box-shadow: 2px 2px 7px #fff;
}
.servicePackages {
    display: flex;
    justify-content: space-between;
}

.servicePackage {
    display: flex;
    color: #3E1730;
    padding: 3%;
    width: 24%;
    flex-wrap: wrap;
    border: 3px solid #3E1730;
    border-radius: 10px;    
    box-shadow: 2px 2px 7px #000;
    transition: 200ms;
}

.servicePackage .price {
    padding: 3%;
    font-weight: bold;
    border: 3px solid #3E1730;
    border-radius: 10px;    
    box-shadow: 2px 2px 7px #fff;
    align-self: flex-end;
    
}





/***************** Zápatí *******************/

footer {
    width: 100%;
    padding: 1rem 0;
    margin-top: 3rem;
    background-color: #3E1730;
    color: #D3D3D3;
    text-align: center;
    box-shadow: 0px -2px 7px 0px #000;
}
