RewriteEngine On
RewriteBase /koderka.net/

## http://www.koderka.net > https://koderka.net
#RewriteCond %{HTTP_HOST} ^www.koderka.net
#RewriteRule ^(.*)$ https://koderka.net/$1 [R=301,QSA,L]

## http://koderka.net > https://koderka.net
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} ^koderka.net
#RewriteRule ^(.*)$ https://koderka.net/$1 [R=301,QSA,L]

## https://www.koderka.net > https://koderka.net
#RewriteCond %{HTTPS} on
#RewriteCond %{HTTP_HOST} ^www.koderka.net
#RewriteRule ^(.*)$ https://koderka.net/$1 [R=301,QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^action/([^/]+).(php|html)$ index.php?action=$1 [L,QSA]
RewriteRule ^([^/]+).(php|html)$ index.php?page=$1 [L,QSA]
RewriteRule ^([^/]+)/([^/]+).(php|html)$ index.php?page=$1_$2 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+).(php|html)$ index.php?page=$1_$2_$3 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+).(php|html)$ index.php?page=$1_$2_$3_$4 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+).(php|html)$ index.php?page=$1_$2_$3_$4_$5 [L,QSA]

