
body { min-width: 320px; }

/*.label-opener {
    cursor: pointer;
    display: none;
}
.label-span {
    height: 25px;
    margin-right: 2%;
    position: relative;
    clear: right;
    float: right;
    padding-top: 40px;
    color: #fff;
    text-align: center;
    width: 45px;
    margin-top: 5px;
}
.label-span.informace {
    margin-right: 4.5%;
}
.label-span.title {
    width: auto;
    height: auto;
    margin-left: 0;
}
.label-span span {
    display: block;
    width: 45px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 0;
}
.label-span span + span {
    top: 16px;
}
.label-span span + span + span {
    top: 27px;
}
.label-span.title span {
    display: none;
    margin-top: 4px;
    left: 14px;
}*/


.hide { display: none; }

@media only screen and (max-width: 1300px) {

    .container { padding: 0 10px; }


}
@media only screen and (max-width: 1200px) {



}


@media only screen and (max-width: 1110px) {




}

@media only screen and (max-width: 900px) {



}

@media only screen and (max-width: 800px) {

    .logo {
        float: none;
        text-align: center;
    }
    .ul-menu {
        float: none;
        margin: 0 auto;
        justify-content: space-around;
    }
    .ul-menu .home {
        display: none;
    }
    .ul-menu li:hover ul, .ul-menu li:focus ul, .ul-menu li:active ul {
        display: none;
    }


    .imgRight {
        width: 45%;
    }
    .imgLeft {
        width: 45%;
    }

    .textRight {
        width: 50%;
    }
    .textLeft {
        width: 50%;
    }


}


@media only screen and (max-width: 730px) {

    .services ul {
        flex-wrap: wrap;
    }
    .services ul li {
        margin-bottom: 2rem;
        width: 100%;
    }
    .services ul li:last-child {
        margin-bottom: 0;
    }



    .servicePackages {
        flex-wrap: wrap;
    }

    .servicePackage {
        margin-bottom: 2rem;
        width: 100%;
    }
    .servicePackage:last-child {
        margin-bottom: 0;
    }

}


@media only screen and (max-width: 630px) {




}

@media only screen and (max-width: 530px) {

    .imgRight {
        width: 100%;
        float: none;
        margin-left: 0%;
    }
    .imgLeft {
        width: 100%;
        float: none;
        margin-right: 0%;
    }

    .textRight {
        width: 100%;
        float: none;
    }
    .textRight > p:first-child {
        margin-top: 1rem;
    }
    .textLeft {
        width: 100%;
        float: none;
    }
    .textLeft > p:first-child {
        margin-top: 1rem;
    }



    #writeMe .field.half {
        float: none;
        width: 100%;
    }
    #writeMe .field.half.first {
        margin-right: 0;
    }

}

@media only screen and (max-width: 430px) {






}


@media screen and (max-width: 970px) {


    table {
        border: 0;
    }

    table tr th {
        display: none;
    }  

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        /*border-bottom: 2px solid #ddd;*/
    }

    table td p { text-align: center !important;}

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        /*border-bottom: 1px dotted #ccc;*/
        text-align: center !important;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        /*float: left;*/
        display: block;
        text-align: center !important;
        text-transform: uppercase;
        font-weight: bold;
        color: #06377a;
        padding: 0.5em;
        background-color: transparent;
    }
}
